![purple-divider](https://user-images.githubusercontent.com/7065401/52071927-c1cd7100-2562-11e9-908a-dde91ba14e59.png)

# Cleaning the raw data

![purple-divider](https://user-images.githubusercontent.com/7065401/52071927-c1cd7100-2562-11e9-908a-dde91ba14e59.png)

### import required library

In [85]:
import pandas as pd
import numpy as np
from pprint import pprint
import json
import re
import datetime

![purple-divider](https://user-images.githubusercontent.com/7065401/52071927-c1cd7100-2562-11e9-908a-dde91ba14e59.png)

### Create a dataframe from the csv file

In [86]:
raw_df = pd.read_csv("Data/weibovietnam.csv")

![purple-divider](https://user-images.githubusercontent.com/7065401/52071927-c1cd7100-2562-11e9-908a-dde91ba14e59.png)

### Let's have a look at the raw data before clean it

In [87]:
# the first 5 rows of the data
raw_df.head()

,post_id,text,post_text,shared_text,original_text,time,timestamp,image,image_lowquality,images,...,w3_fb_url,reactions,reaction_count,with,page_id,sharers,image_id,image_ids,was_live,fetched_time
0,731043432389703,NH·∫¨T K√ù ƒêI L·∫§Y CH·ªíNG XA: KH√îNG D·∫¨Y S·ªöM B·ªä CH·ªíN...,NH·∫¨T K√ù ƒêI L·∫§Y CH·ªíNG XA: KH√îNG D·∫¨Y S·ªöM B·ªä CH·ªíN...,NaN,NaN,2023-11-29 23:58:05,1701277085,https://scontent.fhan14-2.fna.fbcdn.net/v/t39....,https://scontent.fhan14-2.fna.fbcdn.net/v/t39....,['https://scontent.fhan14-2.fna.fbcdn.net/v/t3...,...,https://www.facebook.com/weibovietnam/posts/73...,"{'th√≠ch': 3003, 'y√™u th√≠ch': 6, 'haha': 21, 'w...",4155,NaN,138841156165916,NaN,7.310400e+14,['731040002390046'],False,2023-11-30 10:48:43.213665
1,731015475725832,B·∫°n c√πng ph√≤ng ch·ªâ cho t√¥i c√°ch d√πng khƒÉn gi·∫•y...,B·∫°n c√πng ph√≤ng ch·ªâ cho t√¥i c√°ch d√πng khƒÉn gi·∫•y...,NaN,NaN,2023-11-29 22:54:15,1701273255,NaN,https://scontent.fhan14-2.fna.fbcdn.net/v/t39....,[],...,https://www.facebook.com/weibovietnam/posts/73...,"{'th√≠ch': 699, 'y√™u th√≠ch': 3, 'haha': 564, 'w...",1275,NaN,138841156165916,NaN,7.310146e+14,['731014649059248'],False,2023-11-30 10:49:46.221907
2,731004215726958,NH·ªÆNG TR√ÅI TIM BƒÇNG GI√Å GI·ªÆA TR·ªúI ƒê√îNG TH·ª¶ ƒê√î ...,NH·ªÆNG TR√ÅI TIM BƒÇNG GI√Å GI·ªÆA TR·ªúI ƒê√îNG TH·ª¶ ƒê√î ...,NaN,NaN,2023-11-29 22:30:47,1701271847,https://m.facebook.com/photo/view_full_size/?f...,https://scontent.fhan14-4.fna.fbcdn.net/v/t39....,['https://m.facebook.com/photo/view_full_size/...,...,https://www.facebook.com/weibovietnam/posts/73...,"{'th√≠ch': 1976, 'y√™u th√≠ch': 970, 'haha': 949,...",3896,NaN,138841156165916,NaN,7.310040e+14,['731004012393645'],False,2023-11-30 10:50:13.421866
3,730966445730735,ƒê√¥i m·∫Øt chƒÉm ch√∫ v√† bi·ªÉu c·∫£m tr√†n ƒë·∫ßy y√™u th√≠c...,ƒê√¥i m·∫Øt chƒÉm ch√∫ v√† bi·ªÉu c·∫£m tr√†n ƒë·∫ßy y√™u th√≠c...,NaN,NaN,2023-11-29 21:11:50,1701267110,https://m.facebook.com/photo/view_full_size/?f...,https://scontent.fhan14-2.fna.fbcdn.net/v/t39....,['https://m.facebook.com/photo/view_full_size/...,...,https://www.facebook.com/weibovietnam/posts/73...,"{'th√≠ch': 2846, 'y√™u th√≠ch': 737, 'haha': 21, ...",3621,NaN,138841156165916,NaN,7.309664e+14,['730966409064072'],False,2023-11-30 10:50:30.764316
4,730945852399461,Sau n√†y ƒë√°m c∆∞·ªõi c·ªßa tui v√† anh iu s·∫Ω ki·ªÉu ü§£ü§£ü§£...,Sau n√†y ƒë√°m c∆∞·ªõi c·ªßa tui v√† anh iu s·∫Ω ki·ªÉu ü§£ü§£ü§£...,NaN,NaN,2023-11-29 20:31:34,1701264694,https://scontent.fhan14-3.fna.fbcdn.net/v/t39....,https://scontent.fhan14-3.fna.fbcdn.net/v/t39....,['https://scontent.fhan14-3.fna.fbcdn.net/v/t3...,...,https://www.facebook.com/weibovietnam/posts/73...,"{'th√≠ch': 256, 'y√™u th√≠ch': 5, 'haha': 164, 't...",427,NaN,138841156165916,NaN,7.309455e+14,['730945492399497'],False,2023-11-30 10:50:41.289521

In [88]:
# information of the data
raw_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 51 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   post_id                        1000 non-null   int64
 1   text                           953 non-null    object
 2   post_text                      953 non-null    object
 3   shared_text                    1 non-null      object
 4   original_text                  0 non-null      float64
 5   time                           1000 non-null   object
 6   timestamp                      1000 non-null   int64
 7   image                          897 non-null    object
 8   image_lowquality               1000 non-null   object
 9   images                         954 non-null    object
 10  images_description             954 non-null    object
 11  images_lowquality              1000 non-null   object
 12  images_lowquality_description  1000 non-null   object
 13  video                          43 non-null     object
 14  video_duration_seconds         0 non-null      float64
 15  video_height                   0 non-null      float64
 16  video_id                       43 non-null     float64
 17  video_quality                  0 non-null      float64
 18  video_size_MB                  0 non-null      float64
 19  video_thumbnail                43 non-null     object
 20  video_watches                  0 non-null      float64
 21  video_width                    0 non-null      float64
 22  likes                          762 non-null    float64
 23  comments                       1000 non-null   int64
 24  shares                         1000 non-null   int64
 25  post_url                       1000 non-null   object
 26  link                           3 non-null      object
 27  links                          999 non-null    object
 28  user_id                        1000 non-null   int64
 29  username                       1000 non-null   object
 30  user_url                       1000 non-null   object
 31  is_live                        1000 non-null   bool
 32  factcheck                      0 non-null      float64
 33  shared_post_id                 0 non-null      float64
 34  shared_time                    0 non-null      float64
 35  shared_user_id                 0 non-null      float64
 36  shared_username                0 non-null      float64
 37  shared_post_url                0 non-null      float64
 38  available                      1000 non-null   bool
 39  comments_full                  1000 non-null   object
 40  reactors                       239 non-null    object
 41  w3_fb_url                      239 non-null    object
 42  reactions                      239 non-null    object
 43  reaction_count                 1000 non-null   int64
 44  with                           5 non-null      object
 45  page_id                        1000 non-null   int64
 46  sharers                        0 non-null      float64
 47  image_id                       737 non-null    float64
 48  image_ids                      1000 non-null   object
 49  was_live                       1000 non-null   bool
 50  fetched_time                   239 non-null    object
dtypes: bool(3), float64(17), int64(7), object(24)
memory usage: 378.1+ KB

#### -> This data is not very clean, it contains many missing values and few-valued cols. Some cols may not be used later

![purple-divider](https://user-images.githubusercontent.com/7065401/52071927-c1cd7100-2562-11e9-908a-dde91ba14e59.png)

#### Delete unnecessary columns, add and alter dataframe

#### 1) Delete useless columns:

In [89]:
delete_cols = [
    "post_text",
    "image",
    "images_lowquality",
    "post_url",
    "timestamp",
    "username",
    "likes",
    "shares",
    "images_description",
    "images_lowquality_description",
    "shared_text",
    "original_text",
    "video_size_MB",
    "image_lowquality",
    "images",
    "video",
    "video_duration_seconds",
    "video_height",
    "video_id",
    "video_quality",
    "video_thumbnail",
    "video_watches",
    "video_width",
    "link",
    "links",
    "user_url",
    "is_live",
    "factcheck",
    "shared_post_id",
    "shared_time",
    "shared_user_id",
    "shared_username",
    "shared_post_url",
    "available",
    "reactors",
    "w3_fb_url",
    "with",
    "page_id",
    "sharers",
    "image_id",
    "user_id",
    "image_ids",
    "was_live",
    "fetched_time",
]
# create clean dataframe by deleting unnecessary columns
clean_df = raw_df.drop(delete_cols, axis=1)

In [90]:
clean_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 7 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   post_id         1000 non-null   int64
 1   text            953 non-null    object
 2   time            1000 non-null   object
 3   comments        1000 non-null   int64
 4   comments_full   1000 non-null   object
 5   reactions       239 non-null    object
 6   reaction_count  1000 non-null   int64
dtypes: int64(3), object(4)
memory usage: 54.8+ KB

#### We will clear posts which have no comments!

In [91]:
# clear rows that 0 comments 
clean_df = clean_df[clean_df["comments"] != 0]
clean_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 237 entries, 0 to 988
Data columns (total 7 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   post_id         237 non-null    int64
 1   text            237 non-null    object
 2   time            237 non-null    object
 3   comments        237 non-null    int64
 4   comments_full   237 non-null    object
 5   reactions       237 non-null    object
 6   reaction_count  237 non-null    int64
dtypes: int64(3), object(4)
memory usage: 14.8+ KB

#### 2)Comment_full to new DataFrame: Comment_frame
##### Convert comment_full cols into a Dataframe with 4 fields: 
- comment_id: 
- commenter_id:
- comment_text: 
- post_id:

In [92]:
def get_comments(text):
    pattern = r"\{[^{}]*\}"
    try:
        matches = re.findall(pattern, text)
        return [eval(match) for match in matches]
    except Exception as e:
        print(f"Err: {e}")
        return []

def create_comments_frame(df):
    df_result = {
        "comment_id": [],
        "commenter_id": [],
        "commenter_name": [],
        "comment_text": [],
        "post_id": [],
    }

    new_df = df[df["comments_full"].notna()]

    for _, row in new_df.iterrows():
        comments = get_comments(row["comments_full"])
        for comment in comments:
            try:
                df_result["comment_id"].append(comment.get("comment_id"))
                df_result["comment_text"].append(comment.get("comment_text"))
                df_result["commenter_name"].append(comment.get("commenter_name"))
                df_result["commenter_id"].append(comment.get("commenter_id"))
                df_result["post_id"].append(row.post_id)
            except Exception as e:
                print(f"Error occurred: {e}")
                continue

    return pd.DataFrame(df_result)

In [93]:
Comment_frame = create_comments_frame(clean_df)
Comment_frame

,comment_id,commenter_id,commenter_name,comment_text,post_id
0,None,None,None,None,731043432389703
1,None,None,None,None,731043432389703
2,659041829740311,100004523313287,Pham Bich Lua,Ch·∫£ b√π m√¨nh ƒëi l·∫•y ch·ªìng ng·ªß ƒë·∫øn 11h tr∆∞a. T·ª´ ...,731043432389703
3,1058980365296051,100004428425175,T√∫ Uy√™n,ƒêa s·ªë m√† b·ªë m·∫π ngƒÉn c·∫£n th√¨ l√† b·ªë m·∫π ƒë√∫ng ƒë·∫•y,731043432389703
4,1049705363008340,100005874492328,Y·∫øn L√¢m,ƒê√∫ng l√† l·∫•y ch·ªìng nh∆∞ canh b·∫°c,731043432389703
...,...,...,...,...,...
10518,1363567874435450,100012723275222,ƒê·ªó √Ånh,"N√†y l√† ch√¢n, c√≤n c·ªßa tui l√† c·ªôt ƒë√¨nhüëÄ",6563791543670813
10519,None,None,None,None,6563791543670813
10520,None,None,None,None,6563791543670813
10521,752935386491017,100045700756125,L√™ Ng·ªçc Huy·ªÅn,Trang Le ch√¢n kia nh·ªè h∆°n b·∫Øp tay m√¨nh lu√¥n √≠=))),6563791543670813
10522,772792927414635,100009969248642,Trang Le,L√™ Ng·ªçc Huy·ªÅn thon,6563791543670813

#### 3)Create Dataframe for reactions from column "reactions"

In [94]:
dfs = []
for index, row in clean_df.iterrows():
    if row['reactions'] is not np.nan:
        # Convert the 'reactions' column into a DataFrame
        df = pd.DataFrame(eval(row['reactions']), index=[0])
        df['post_id'] = row['post_id']
        dfs.append(df)

# Concat
Reactions_Frame = pd.concat(dfs, ignore_index=True)

# Replace NaN values with 0
Reactions_Frame = Reactions_Frame.fillna(0)

# Convert data type to int
Reactions_Frame = Reactions_Frame.astype(int)

# Addthe reactions of each post
Reactions_Frame['total'] = Reactions_Frame.drop('post_id', axis=1).sum(axis=1)

In [95]:
Reactions_Frame

,th√≠ch,y√™u th√≠ch,haha,wow,th∆∞∆°ng th∆∞∆°ng,bu·ªìn,ph·∫´n n·ªô,post_id,total
0,3003,6,21,13,4,1089,19,731043432389703,4155
1,699,3,564,6,1,1,1,731015475725832,1275
2,2846,737,21,2,14,0,1,730966445730735,3621
3,256,5,164,0,1,0,1,730945852399461,427
4,1014,7,1271,0,1,3,1,730934009067312,2297
...,...,...,...,...,...,...,...,...,...
232,2428,3,1,0,0,1,0,6564292776954023,2433
233,3682,955,1755,2,87,2,0,6564246580291976,6483
234,2721,2,11,1,0,1,0,6564158210300813,2736
235,2824,22,1209,7,6,511,0,6563918830324751,4579
236,15150,1860,9521,130,87,295,4,6563791543670813,27047

#### Rename the cols to English

In [96]:
# Define the new column names
new_column_names = {
    'th√≠ch': 'like',
    'y√™u th√≠ch': 'love',
    'th∆∞∆°ng th∆∞∆°ng': 'care',
    'bu·ªìn': 'sad',
    'ph·∫´n n·ªô': 'angry',
}

# Change the column names
Reactions_Frame = Reactions_Frame.rename(columns=new_column_names)

print(Reactions_Frame.head())

   like  love  haha  wow  care   sad  angry          post_id  total
0  3003     6    21   13     4  1089     19  731043432389703   4155
1   699     3   564    6     1     1      1  731015475725832   1275
2  2846   737    21    2    14     0      1  730966445730735   3621
3   256     5   164    0     1     0      1  730945852399461    427
4  1014     7  1271    0     1     3      1  730934009067312   2297

#### Delete 3 cols: "comments_full", "reactions", "reaction_count"

In [97]:
fin_delete_cols = ["comments_full", "reactions", "reaction_count"]
#delete it 
clean_df = clean_df.drop(fin_delete_cols, axis=1)
clean_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 237 entries, 0 to 988
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   post_id   237 non-null    int64
 1   text      237 non-null    object
 2   time      237 non-null    object
 3   comments  237 non-null    int64
dtypes: int64(2), object(2)
memory usage: 9.3+ KB

In [98]:
# last 5 rows of the data
clean_df.head()

,post_id,text,time,comments
0,731043432389703,NH·∫¨T K√ù ƒêI L·∫§Y CH·ªíNG XA: KH√îNG D·∫¨Y S·ªöM B·ªä CH·ªíN...,2023-11-29 23:58:05,603
1,731015475725832,B·∫°n c√πng ph√≤ng ch·ªâ cho t√¥i c√°ch d√πng khƒÉn gi·∫•y...,2023-11-29 22:54:15,37
3,730966445730735,ƒê√¥i m·∫Øt chƒÉm ch√∫ v√† bi·ªÉu c·∫£m tr√†n ƒë·∫ßy y√™u th√≠c...,2023-11-29 21:11:50,58
4,730945852399461,Sau n√†y ƒë√°m c∆∞·ªõi c·ªßa tui v√† anh iu s·∫Ω ki·ªÉu ü§£ü§£ü§£...,2023-11-29 20:31:34,32
5,730934009067312,H√åNH T∆Ø·ª¢NG KHI ƒêI L√ÄM V√Ä SAU KHI TAN L√ÄM C·ª¶A G...,2023-11-29 20:07:05,71

#### remove blank line (\n) , emojis in text

In [99]:
def clean_text(text):
    text = text.replace("\n", " ")
    text = text.replace("\t", " ")

    # Remove emojis
    emoj = re.compile("["
        u"\U0001F600-\U0001F64F"  # emoticons
        u"\U0001F300-\U0001F5FF"  # symbols & pictographs
        u"\U0001F680-\U0001F6FF"  # transport & map symbols
        u"\U0001F1E0-\U0001F1FF"  # flags (iOS)
        u"\U00002500-\U00002BEF"  # chinese char
        u"\U00002702-\U000027B0"
        u"\U000024C2-\U0001F251"
        u"\U0001f926-\U0001f937"
        u"\U00010000-\U0010ffff"
        u"\u2640-\u2642" 
        u"\u2600-\u2B55"
        u"\u200d"
        u"\u23cf"
        u"\u23e9"
        u"\u231a"
        u"\ufe0f"  # dingbats
        u"\u3030"
                      "]+", re.UNICODE)
    text = re.sub(emoj, '', text)

    return text

#### convert time to datetime

In [100]:
# convert time to datetime
clean_df["time"] = pd.to_datetime(clean_df["time"])

In [101]:
# clean the text
clean_df["text"] = clean_df["text"].apply(clean_text)
Comment_frame["comment_text"] = Comment_frame["comment_text"].apply(clean_text)

AttributeError: 'NoneType' object has no attribute 'replace'

In [ ]:
clean_df.head()

,post_id,text,time,comments
0,731043432389703,NH·∫¨T K√ù ƒêI L·∫§Y CH·ªíNG XA: KH√îNG D·∫¨Y S·ªöM B·ªä CH·ªíN...,2023-11-29 23:58:05,603
1,731015475725832,B·∫°n c√πng ph√≤ng ch·ªâ cho t√¥i c√°ch d√πng khƒÉn gi·∫•y...,2023-11-29 22:54:15,37
3,730966445730735,ƒê√¥i m·∫Øt chƒÉm ch√∫ v√† bi·ªÉu c·∫£m tr√†n ƒë·∫ßy y√™u th√≠c...,2023-11-29 21:11:50,58
4,730945852399461,Sau n√†y ƒë√°m c∆∞·ªõi c·ªßa tui v√† anh iu s·∫Ω ki·ªÉu C...,2023-11-29 20:31:34,32
5,730934009067312,H√åNH T∆Ø·ª¢NG KHI ƒêI L√ÄM V√Ä SAU KHI TAN L√ÄM C·ª¶A G...,2023-11-29 20:07:05,71

In [ ]:
Comment_frame.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3627 entries, 0 to 3626
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   comment_id      3627 non-null   object
 1   commenter_id    3627 non-null   object
 2   commenter_name  3627 non-null   object
 3   comment_text    3627 non-null   object
 4   post_id         3627 non-null   int64
dtypes: int64(1), object(4)
memory usage: 141.8+ KB

In [ ]:
clean_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 237 entries, 0 to 988
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   post_id   237 non-null    int64
 1   text      237 non-null    object
 2   time      237 non-null    datetime64[ns]
 3   comments  237 non-null    int64
dtypes: datetime64[ns](1), int64(2), object(1)
memory usage: 9.3+ KB

In [ ]:
Reactions_Frame.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 237 entries, 0 to 236
Data columns (total 9 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   like     237 non-null    int64
 1   love     237 non-null    int64
 2   haha     237 non-null    int64
 3   wow      237 non-null    int64
 4   care     237 non-null    int64
 5   sad      237 non-null    int64
 6   angry    237 non-null    int64
 7   post_id  237 non-null    int64
 8   total    237 non-null    int64
dtypes: int64(9)
memory usage: 16.8 KB

![purple-divider](https://user-images.githubusercontent.com/7065401/52071927-c1cd7100-2562-11e9-908a-dde91ba14e59.png)

### Save the dataframe

In [ ]:
# save to csv 
clean_df.to_csv("Data/clean_df.csv", index=False)
Comment_frame.to_csv("Data/Comment_frame.csv", index=False)
Reactions_Frame.to_csv("Data/Reactions_Frame.csv", index=False)